rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function authenticated() {
      return request.auth.uid != null;
    }

    match /postboxes/{postboxId} {
      allow get, create: if authenticated();

      allow update, delete: if false;

      // do not allow listing postboxes
      allow list: if false;

      match /messages/{messageId} {
        allow get, list, create: if authenticated();

        allow update, delete: if false;
      }
    }
  }
}
